$no-mq-support: false !default;
$serve-to-nomq-max-width: 60em !default;

/* Fonts */
$font-arial: Arial;

/* Breakpoints */
$bp-small: 30em;
$bp-medium: 45em;
$bp-large: 60em;

/* Colors */
$c-white: #FFFFFF;

